<%= javascript_packs_with_chunks_tag 'single_property', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'single_property', 'application' %>

<script src="https://js.stripe.com/v3/"></script>
<div id="params" data-user="<%= @user_data %>"></div>